@import "../base/base";
@import "../components/header";
@import "../components/footer";
@import "../components/button";
@import "../components/guarantee";
@import "../components/reviews";

.guarantee{
  margin-top: 11.9rem;
}

.kitchen-photos{
  padding: 5.3rem 1.5rem 6.8rem;

  .container{
    max-width: 144rem;
    margin: 0 auto;

    p{
      font-family: Montserrat-400;
      font-size: 1.6rem;
      line-height: 2.95rem;
      color: rgba(19, 19, 19, 1);

      span{
        font-family: Montserrat-500;
      }
    }
  }

  h3{
    margin-top: 7.2rem;
    font-family: Montserrat-700;
    font-size: 2.4rem;
    line-height: 2.2rem;
    color: rgba(19, 19, 19, 1);

    &+span{
      display: inline-block;
      margin-top: 1.3rem;
      font-family: Montserrat-500;
      font-size: 1.4rem;
      color: rgba(111, 111, 115, 1);
    }
  }

  .card-container{
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 6.8rem;
  }

  .card{
    cursor: pointer;
    width: 34.5rem;
    text-align: center;

    h4{
      font-family: Montserrat-500;
      font-size: 1.4rem;
      line-height: 1.75rem;
      margin-top: 1.2rem;
    }

    p{
      font-family: Montserrat-400;
      font-size: 1.6rem;
      line-height: 1.75rem;
    }
  }

  .button{
    cursor: pointer;
    margin: 5.1rem auto 0;
  }

}