@font-face {
  font-family: 'Montserrat-300';
  src: local('Montserrat-Light'), local('Montserrat-Light'), url('../../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-400';
  src: local('Montserrat-Regular'), local('Montserrat-Regular'), url('../../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-500';
  src: local('Montserrat-Medium'), local('Montserrat-Medium'), url('../../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-600';
  src: local('Montserrat-SemiBold'), local('Montserrat-SemiBold'), url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-700';
  src: local('Montserrat-Bold'), local('Montserrat-SemiBold'), url('../../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend-300';
  src: local('Lexend-Light'), local('Lexend-Light'), url('../../fonts/Lexend-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend-400';
  src: local('Lexend-Regular'), local('Lexend-Regular'), url('../../fonts/Lexend-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend-500';
  src: local('Lexend-Medium'), local('Lexend-Medium'), url('../../fonts/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lexend-600';
  src: local('Lexend-SemiBold'), local('Lexend-SemiBold'), url('../../fonts/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
}
@media (max-width: 4000px) {
  html {
    font-size: calc(10/1920 * 100vw);
  }
}
@media (max-width: 768px) {
  html {
    font-size: calc(10/390 * 100vw);
  }
}
html.lock,
html.lock body {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
img {
  width: 100%;
}
a:link,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.hidden {
  display: none !important;
}
.orange {
  color: #ff8200;
}
.mobile {
  display: none;
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: initial;
  }
}
.button {
  display: grid;
  place-content: center;
  width: 21.2rem;
  height: 4.3rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #fff;
  color: #fff;
  text-decoration: none;
  font-family: Lexend-500;
  font-size: 1.6rem;
  line-height: 4.15rem;
}
.button.orange {
  background: #ff8200;
  border: 1px solid #ff8200;
}
.button.white {
  background: transparent;
  color: #131313;
  border: 1px solid #131313;
}
header {
  width: 100%;
}
header.home {
  height: 92.7rem;
  background: url(../../img/home_hero.webp) no-repeat center center / cover;
  padding-top: 31.5rem;
}
header.home h1 {
  max-width: 54.2rem;
}
header.cabinets {
  height: 58.1rem;
  background: url(../../img/single_banner.webp) no-repeat center center / cover;
  padding-top: 29rem;
}
header nav {
  width: 100%;
  height: 29.7rem;
  background: linear-gradient(#1a2f40, rgba(30, 52, 69, 0.77), rgba(36, 58, 75, 0));
  padding: 2.8rem 14rem 0;
  position: fixed;
  top: 0;
  z-index: 2;
}
header .container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
header .container a {
  color: #fff;
  font-family: Lexend-400;
  font-size: 1.6rem;
  line-height: 2.9rem;
  text-decoration: none;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .social {
  width: 6.7rem;
  margin-top: 0.3rem;
}
header .social li img {
  width: 1.8rem;
  height: 1.8rem;
}
header .social li:first-child {
  position: relative;
}
header .social li:first-child:after {
  content: '';
  position: absolute;
  left: 3.2rem;
  top: 0.3rem;
  width: 0.1rem;
  height: 2rem;
  background: white;
}
header .menu {
  margin: 0 auto;
}
header .menu ul {
  column-gap: 6.4rem;
}
header .logo {
  margin: 0 3rem;
}
header .logo img {
  width: 14.4rem;
  height: 6.94rem;
}
header .active {
  border-bottom: 1px solid #ff8200;
}
header .phone a {
  font-family: Montserrat-600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  display: flex;
  align-items: center;
  color: #ff8200;
}
header .phone img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
}
header h1 {
  font-family: Lexend-600;
  font-size: 6.978rem;
  line-height: 7.24rem;
  color: #fff;
  margin: 0.8rem auto 0;
  text-align: center;
}
header .bottom {
  width: fit-content;
  margin: 9.5rem auto 0;
  display: flex;
  column-gap: 1.7rem;
}
@media (max-width: 768px) {
  header .burger {
    position: relative;
    width: 2.4rem;
    height: 1.6rem;
    z-index: 2;
  }
  header .burger span::before,
  header .burger span::after,
  header .burger span {
    position: absolute;
    width: 2.4rem;
    height: 0.2rem;
    background-color: #fff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  header .burger span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .burger span::before {
    content: '';
    top: -0.8rem;
  }
  header .burger span::after {
    content: '';
    top: 0.8rem;
  }
  header .burger.open span {
    background-color: transparent;
  }
  header .burger.open span::before {
    width: 2.8rem;
    top: 0;
    transform: rotate(45deg);
  }
  header .burger.open span::after {
    width: 2.8rem;
    top: 0;
    transform: rotate(-45deg);
  }
  header.home {
    height: 71.9rem;
    background: url(../../img/mobile_banner.webp) no-repeat center center / cover;
    padding-top: 24.9rem;
  }
  header.home h1 {
    max-width: 31.1rem;
  }
  header.cabinets {
    height: 48.6rem;
    background: url(../../img/kitchen_mobile.webp) no-repeat center center / cover;
  }
  header.cabinets h1 {
    font-size: 5.6rem;
    line-height: 5.35rem;
    text-align: left;
    margin: 7rem 0 0 1.6rem;
  }
  header nav {
    height: 9rem;
    padding: 1.6rem 1.6rem 0 1.7rem;
  }
  header .social {
    display: none;
  }
  header .menu {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background: #1a2f40;
    z-index: 1;
    transition: top 0.3s ease-in-out;
  }
  header .menu ul {
    flex-direction: column;
  }
  header .menu ul li:not(:first-child) {
    margin-top: 3rem;
  }
  header .menu ul a {
    font-size: 2.2rem;
    line-height: 2.9rem;
  }
  header .menu.open {
    transition: top 0.3s ease-in-out;
    top: 0;
  }
  header .logo {
    z-index: 2;
    margin: 0 0 0 2.4rem;
  }
  header .logo img {
    width: 8.293rem;
    height: 4rem;
  }
  header .phone {
    z-index: 2;
    margin-left: auto;
  }
  header .phone a {
    display: flex;
    align-items: center;
    color: white;
  }
  header .phone img {
    margin-right: 0.8rem;
  }
  header h1 {
    font-size: 4rem;
    line-height: 4.15rem;
    margin: 0 auto;
  }
  header .bottom {
    margin: 3.3rem auto 0;
    flex-direction: column;
    row-gap: 1.7rem;
  }
}
.word_wrap {
  font-weight: 600;
  overflow: hidden;
  height: 8rem;
  margin-top: 1rem;
}
.word_wrap .list {
  margin-top: 0;
  text-align: center;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 18s;
  animation-iteration-count: infinite;
}
.word_wrap p {
  font-size: 6.978rem;
  font-family: Lexend-600;
  line-height: 7.24rem;
  margin: 0 0 2rem 0;
}
@-webkit-keyframes change {
  0%,
  10%,
  100% {
    transform: translateY(0);
  }
  12.1%,
  12.2% {
    transform: translateY(-12%);
  }
  13%,
  20% {
    transform: translateY(-11.111%);
  }
  22.1%,
  22.2% {
    transform: translateY(-24.111%);
  }
  23%,
  30% {
    transform: translateY(-23.222%);
  }
  32.1%,
  32.2% {
    transform: translateY(-35.5%);
  }
  33%,
  40% {
    transform: translateY(-34.4%);
  }
  42.1%,
  42.2% {
    transform: translateY(-46.6%);
  }
  43%,
  50% {
    transform: translateY(-45.5%);
  }
  52.1%,
  52.2% {
    transform: translateY(-57.7%);
  }
  53%,
  60% {
    transform: translateY(-57.2%);
  }
  62.1%,
  62.2% {
    transform: translateY(-68.9%);
  }
  63%,
  70% {
    transform: translateY(-68%);
  }
  72.1%,
  72.2% {
    transform: translateY(-79.9%);
  }
  73%,
  80% {
    transform: translateY(-79%);
  }
  82.1%,
  82.2% {
    transform: translateY(-92%);
  }
  83%,
  90% {
    transform: translateY(-91%);
  }
  97% {
    transform: translateY(5%);
  }
  99% {
    transform: translateY(0%);
  }
}
@media (max-width: 768px) {
  .word_wrap {
    overflow: hidden;
    height: 4rem;
    margin-top: 0.1rem;
  }
  .word_wrap p {
    font-size: 4rem;
    line-height: 4.15rem;
    margin: 0 0 2rem 0;
  }
  @-webkit-keyframes change {
    0%,
    10%,
    100% {
      transform: translateY(0);
    }
    12.1%,
    12.2% {
      transform: translateY(-12%);
    }
    13%,
    20% {
      transform: translateY(-11.111%);
    }
    22.1%,
    22.2% {
      transform: translateY(-24.111%);
    }
    23%,
    30% {
      transform: translateY(-23.222%);
    }
    32.1%,
    32.2% {
      transform: translateY(-35.5%);
    }
    33%,
    40% {
      transform: translateY(-34.4%);
    }
    42.1%,
    42.2% {
      transform: translateY(-47.6%);
    }
    43%,
    50% {
      transform: translateY(-46.5%);
    }
    52.1%,
    52.2% {
      transform: translateY(-57.7%);
    }
    53%,
    60% {
      transform: translateY(-57.2%);
    }
    62.1%,
    62.2% {
      transform: translateY(-69.9%);
    }
    63%,
    70% {
      transform: translateY(-69%);
    }
    72.1%,
    72.2% {
      transform: translateY(-80.9%);
    }
    73%,
    80% {
      transform: translateY(-80%);
    }
    82.1%,
    82.2% {
      transform: translateY(-93%);
    }
    83%,
    90% {
      transform: translateY(-92%);
    }
    97% {
      transform: translateY(5%);
    }
    99% {
      transform: translateY(0%);
    }
  }
}
.reviews {
  background: #243a4b;
  padding: 5.6rem 1.6rem;
}
.reviews .container {
  max-width: 144rem;
  margin: 0 auto;
}
.reviews h2 {
  color: #fff;
  text-align: center;
  font-family: Lexend-300;
  font-size: 4.8rem;
  line-height: 4.75rem;
}
.reviews h2 span {
  font-family: Lexend-600;
}
.reviews h2 + p {
  color: #fff;
  font-family: Montserrat-400;
  font-size: 1.6rem;
  margin-top: 3.2rem;
  text-align: center;
  opacity: 0.7;
}
.reviews .button + p {
  color: #fff;
  font-family: Montserrat-600;
  font-size: 1.6rem;
  margin-top: 6rem;
  line-height: 2.2rem;
  text-align: center;
}
.reviews .wrap {
  position: relative;
}
.reviews .swiper {
  margin-top: 4.6rem;
  height: 35.5rem;
}
.reviews .swiper-slide {
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.08);
  height: 100%;
  box-sizing: border-box;
  background: #253e52;
  border: 1px solid #182d3e;
  border-radius: 0.8rem;
}
.reviews .swiper-slide p {
  font-family: Montserrat-400;
  font-size: 1.4rem;
  color: #fff;
  max-width: 38.3rem;
  line-height: 2.2rem;
  margin: 2.4rem auto 0;
  text-align: justify;
}
.reviews .swiper-slide .rating + p {
  position: relative;
}
.reviews .swiper-slide .rating + p:before {
  position: absolute;
  top: -1.9rem;
  left: -1.7rem;
  content: '';
  background: url(../../img/brackets_reviews.webp) no-repeat center center / contain;
  width: 4.3rem;
  height: 3.8rem;
}
.reviews .swiper-slide h3 {
  font-family: Montserrat-600;
  color: #ff8200;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 0.4rem auto 0;
}
.reviews .swiper-slide h3 + p {
  width: fit-content;
  margin: 0.1rem auto 0;
  white-space: nowrap;
}
.reviews .rating {
  margin: 1.9rem auto 0;
  width: fit-content;
}
.reviews .rating img {
  width: 16rem;
  height: 3.2rem;
}
.reviews .photo_review {
  margin: auto;
  width: fit-content;
}
.reviews .photo_review img {
  width: 4.4rem;
  height: 4.4rem;
}
.reviews .info {
  position: absolute;
  bottom: 1.3rem;
  left: 50%;
  transform: translateX(-50%);
}
.reviews .logos {
  margin: 3.36rem auto 0;
  display: flex;
  column-gap: 4.9rem;
  width: fit-content;
}
.reviews .logos a:first-child img {
  width: 12.5rem;
  height: 4.14rem;
}
.reviews .logos a:last-child img {
  width: 17.1rem;
  height: 3.38rem;
}
.reviews .button {
  margin: 6.5rem auto 0;
}
.reviews .swiper-button-prev:after,
.reviews .swiper-button-next:after {
  content: '';
  background: url(../../img/slider_arrow.webp) no-repeat center center / contain;
  width: 1.4rem;
  height: 4.1rem;
  position: absolute;
}
.reviews .swiper-button-prev:after {
  left: -4.6rem;
}
.reviews .swiper-button-next:after {
  transform: rotate(180deg);
  right: -4.6rem;
}
.reviews .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -4.7rem;
}
.reviews .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 0.1rem solid rgba(255, 255, 255, 0.7);
  opacity: 1;
  margin: 0 0.6rem 0 0 !important;
}
.reviews .swiper-pagination-bullet-active {
  background: #ff8200;
  border: 0.1rem solid #ff8200;
}
@media (max-width: 768px) {
  .reviews {
    padding: 3rem 0 2.7rem;
    overflow: hidden;
  }
  .reviews h2 {
    font-family: Lexend-300;
    font-size: 2.4rem;
    line-height: 1rem;
  }
  .reviews h2 + p {
    font-size: 1.6rem;
    margin: 1.6rem auto 0;
    line-height: 2.2rem;
    opacity: 1;
    max-width: calc(100% - 3.2rem);
  }
  .reviews .rating {
    margin: 1.6rem auto 0;
  }
  .reviews .swiper {
    margin-top: 1.7rem;
    height: 42.4rem;
  }
  .reviews .swiper-slide {
    border: none;
  }
  .reviews .swiper-slide p {
    margin: 2rem auto 0;
    max-width: 23.4rem;
  }
  .reviews .swiper-slide h3 {
    margin: 0 auto;
  }
  .reviews .swiper-slide h3 + p {
    margin: 0 auto;
  }
  .reviews .swiper-pagination-bullet {
    border: 0.1rem solid rgba(255, 255, 255, 0.54);
  }
  .reviews .swiper-pagination-bullet-active {
    background: #ff8200;
    border: 0.1rem solid #ff8200;
  }
  .reviews .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -2.7rem;
  }
  .reviews .button {
    margin-top: 5rem;
  }
  .reviews .button + p {
    margin-top: 5.6rem;
    font-family: Montserrat-500;
  }
  .reviews .logos {
    margin: 3rem auto 0;
    max-width: calc(100% - 8rem);
    column-gap: 3.2rem;
  }
  .reviews .logos a:first-child img {
    width: 12.1rem;
    height: 4.01rem;
  }
  .reviews .logos a:last-child img {
    width: 15.1rem;
    height: 3.12rem;
  }
}
.guarantee {
  background: #f6f6f6;
  padding: 18rem 1.5rem 0;
  position: relative;
  height: 24.2rem;
}
.guarantee img {
  max-width: 25.5rem;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -4.5rem;
}
.guarantee p {
  text-align: center;
  font-family: Montserrat-600;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
@media (max-width: 768px) {
  .guarantee {
    height: 28.2rem;
  }
  .guarantee p {
    max-width: 35.8rem;
  }
}
footer {
  background: #243a4b;
  padding: 5.5rem 1.5rem 0;
}
footer .container {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  padding-bottom: 7.1rem;
}
footer .logo {
  width: 23.3rem;
  height: 10.75rem;
}
footer h3 {
  color: #fff;
  margin-top: 3.4rem;
  font-family: Lexend-600;
  font-size: 2.4rem;
  line-height: 3rem;
}
footer li {
  font-family: Lexend-400;
  font-size: 1.6rem;
  line-height: 3.9rem;
  color: #fff;
  width: fit-content;
}
footer a {
  color: #fff;
}
footer .footer-menu {
  padding-right: 6.6rem;
  border-right: 0.1rem solid rgba(255, 255, 255, 0.2);
}
footer .footer-menu ul {
  margin-top: 3.3rem;
}
footer .footer-menu ul img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.7rem;
}
footer .footer-menu li {
  display: flex;
  align-items: center;
}
footer .footer-menu li,
footer .footer-menu a {
  font-family: Montserrat-400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  display: flex;
  align-items: center;
}
footer .follow-us {
  margin-top: 3.6rem;
  display: flex;
  justify-content: space-between;
  height: 2.1rem;
  width: 17.4rem;
}
footer .follow-us li {
  position: relative;
}
footer .follow-us li:not(:last-child):after {
  content: '';
  position: absolute;
  left: 3.2rem;
  top: 0.1rem;
  width: 0.1rem;
  height: 2rem;
  background: white;
}
footer .services {
  padding: 0 7.2rem;
  border-right: 0.1rem solid rgba(255, 255, 255, 0.2);
}
footer .services ul {
  columns: 2;
  column-gap: 6.6rem;
}
footer .services ul,
footer .sitemap ul {
  margin-top: 4.2rem;
}
footer .sitemap {
  padding-left: 6.6rem;
}
.copyright {
  background: #1a2f40;
  height: 4rem;
  color: #fff;
  font-family: Montserrat-400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  display: grid;
  place-content: center;
}
@media (max-width: 768px) {
  footer {
    padding: 3.6rem 0 0;
  }
  footer .container {
    display: block;
    padding: 0 1.6rem 2.5rem;
  }
  footer .logo {
    width: 18.7rem;
    height: 9.06rem;
    display: block;
    margin: 0 auto;
  }
  footer .logo.bottom {
    width: 14.3rem;
    height: 6.94rem;
    margin-top: 6.8rem;
  }
  footer h3 {
    margin-top: 5.93rem;
  }
  footer h3:nth-of-type(2) {
    margin-top: 3.7rem;
  }
  footer .footer-menu {
    padding-right: unset;
    border: none;
    padding-bottom: 3.2rem;
  }
  footer .footer-menu ul {
    margin-top: 3.6rem;
  }
  footer .footer-menu ul:first-of-type {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 3.2rem;
  }
  footer .footer-menu ul img {
    width: 2.1rem;
    height: 2.1rem;
  }
  footer .footer-menu a {
    line-height: 2.4rem;
  }
  footer .services {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 3.2rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  footer .services h3 {
    margin-top: unset;
  }
  footer .services ul {
    columns: 1;
  }
  footer .sitemap {
    padding-left: 0;
  }
  footer .sitemap h3 {
    margin-top: 3.7rem;
  }
}
.repairs {
  padding: 7.2rem 1.6rem;
}
.repairs .container {
  max-width: 144rem;
  margin: 0 auto;
}
.repairs .top-content,
.repairs .bottom-content {
  display: flex;
  column-gap: 2rem;
}
.repairs img {
  width: 71rem;
  height: 44.6rem;
}
.repairs .text {
  max-width: 70.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.repairs h2 {
  font-family: Lexend-300;
  font-size: 4.8rem;
  line-height: 5.3rem;
}
.repairs h2 span {
  font-family: Lexend-600;
}
.repairs p {
  font-family: Montserrat-300;
  font-size: 1.6rem;
  line-height: 2.95rem;
  margin-top: 3.2rem;
}
.repairs p span {
  font-family: Montserrat-500;
}
.repairs .bottom-content h2 {
  position: relative;
}
.repairs .bottom-content h2:before {
  position: absolute;
  top: -3.4rem;
  left: -3.9rem;
  content: '';
  background: url(../../img/brackets.webp) no-repeat center center / contain;
  width: 7.7rem;
  height: 7.7rem;
}
.cases {
  padding: 6.4rem 1.6rem;
  background: #f6f6f6;
}
.cases .container {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 11.1rem;
  row-gap: 3.6rem;
}
.cases .card {
  width: 30%;
  max-width: 40.5rem;
  text-decoration: none;
}
.cases .card .top {
  width: 100%;
  height: 23.2rem;
  border-radius: 0.9rem;
  overflow: hidden;
  display: flex;
  align-items: end;
  padding: 2.2rem 1.5rem;
}
.cases .card p {
  margin-top: 1.532rem;
  color: #131313;
  font-family: Montserrat-400;
  font-size: 1.6rem;
  line-height: 2.592rem;
}
.cases h3 {
  font-family: Lexend-600;
  font-size: 3.7rem;
  line-height: 3.594rem;
  color: #fff;
}
.cases .card:nth-child(1) .top {
  background: url(../../img/cases/Card1.webp) no-repeat center center / cover;
}
.cases .card:nth-child(2) .top {
  background: url(../../img/cases/Card2.webp) no-repeat center center / cover;
}
.cases .card:nth-child(3) .top {
  background: url(../../img/cases/Card3.webp) no-repeat center center / cover;
}
.cases .card:nth-child(4) .top {
  background: url(../../img/cases/Card4.webp) no-repeat center center / cover;
}
.cases .card:nth-child(5) .top {
  background: url(../../img/cases/Card5.webp) no-repeat center center / cover;
}
.cases .card:nth-child(6) .top {
  background: url(../../img/cases/Card6.webp) no-repeat center center / cover;
}
.cases .card:nth-child(7) .top {
  background: url(../../img/cases/Card7.webp) no-repeat center center / cover;
}
.cases .card:nth-child(8) .top {
  background: url(../../img/cases/Card8.webp) no-repeat center center / cover;
}
.cases .card:nth-child(9) .top {
  background: url(../../img/cases/Card9.webp) no-repeat center center / cover;
}
.cases .card:nth-child(10) .top {
  background: url(../../img/cases/Card10.webp) no-repeat center center / cover;
}
.cases .card:nth-child(11) .top {
  background: url(../../img/cases/Card11.webp) no-repeat center center / cover;
}
.cases .card:nth-child(12) .top {
  background: url(../../img/cases/Card12.webp) no-repeat center center / cover;
}
.areas .container {
  max-width: 192rem;
  margin: 0 auto;
  display: flex;
}
.areas .map img {
  width: 96.4rem;
  height: 68.2rem;
}
.areas .content {
  width: 95.6rem;
}
.areas .content {
  padding: 5.4rem 0 0 6rem;
}
.areas .content > p {
  margin-top: 4.8rem;
  max-width: 64.6rem;
}
.areas h2 {
  font-family: Lexend-300;
  font-size: 4.8rem;
  line-height: 4.7rem;
}
.areas h2 span {
  font-family: Lexend-600;
}
.areas p {
  font-family: Montserrat-400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #6f6f73;
  width: fit-content;
}
.areas .lists {
  display: flex;
  margin-top: 1.1rem;
}
.areas ul:nth-child(2) {
  margin-left: 18.1rem;
}
.areas li {
  font-family: Montserrat-600;
  font-size: 1.6rem;
  line-height: 4rem;
  list-style: disc;
  margin-left: 1.5rem;
}
.areas .bottom {
  display: flex;
  margin-top: 7.2rem;
  align-items: center;
  column-gap: 2rem;
}
.about {
  padding: 7.2rem 1.5rem 9.5rem;
}
.about .container {
  max-width: 144rem;
  margin: 0 auto;
}
.about .top {
  display: flex;
  column-gap: 2rem;
}
.about img {
  width: 71rem;
  height: 44.6rem;
  border-radius: 0.8rem;
}
.about h2 {
  font-family: Lexend-600;
  font-size: 4.8rem;
  line-height: 4.75rem;
  color: #131313;
}
.about .subtitle {
  margin-top: 3.2rem;
  font-family: Montserrat-600;
  font-size: 2rem;
  line-height: 2.7rem;
  max-width: 35.8rem;
}
.about p {
  margin-top: 2.6rem;
  font-family: Montserrat-400;
  font-size: 1.6rem;
  line-height: 2.95rem;
}
.about p span {
  font-family: Montserrat-600;
}
@media (max-width: 768px) {
  .repairs {
    padding: 2.4rem 1.6rem;
  }
  .repairs .top-content,
  .repairs .bottom-content {
    position: relative;
    flex-direction: column;
    padding-top: 7rem;
  }
  .repairs h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 2.4rem;
    line-height: 3.05rem;
    text-align: center;
  }
  .repairs p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 2.4rem;
  }
  .repairs .bottom-content {
    flex-direction: column-reverse;
    padding-top: 15.2rem;
  }
  .repairs .bottom-content h2 {
    position: absolute;
    max-width: 24.5rem;
    top: 5rem;
  }
  .repairs .bottom-content h2:before {
    top: -1.6rem;
    left: -1.1rem;
    width: 3.8rem;
    height: 4.3rem;
  }
  .repairs .bottom-content h2 br {
    display: none;
  }
  .repairs .bottom-content p:first-of-type {
    margin-top: 1.8rem;
  }
  .repairs img {
    width: 38.2rem;
    height: 24.9rem;
    transform: translateX(-1rem);
  }
  .cases {
    padding: 2.2rem 1.6rem 3.1rem;
  }
  .cases .container {
    display: block;
  }
  .cases h3 {
    font-size: 3.2rem;
  }
  .cases .card {
    display: block;
    width: 100%;
  }
  .cases .card:not(:first-child) {
    margin-top: 3.2rem;
  }
  .cases .card .top {
    height: 19.7rem;
  }
  .cases .card p {
    margin-top: 1.3rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .areas .container {
    flex-direction: column-reverse;
  }
  .areas .map {
    margin-top: 4.5rem;
  }
  .areas .map img {
    width: 39rem;
    height: 45rem;
  }
  .areas .content {
    padding: 4rem 0 0;
    width: 100%;
  }
  .areas .content > p {
    text-align: center;
    max-width: 35.8rem;
    margin: 2rem auto 0;
  }
  .areas h2 {
    font-size: 2.4rem;
    line-height: 3.05rem;
    text-align: center;
  }
  .areas .lists {
    margin-top: 3.9rem;
  }
  .areas ul:nth-child(1) {
    margin-left: 3rem;
  }
  .areas ul:nth-child(2) {
    margin-left: 4.1rem;
  }
  .areas li {
    line-height: 2.2rem;
    margin-left: 1.5rem;
  }
  .areas .bottom {
    flex-direction: column;
    align-items: center;
    margin: 4.6rem auto 0;
  }
  .areas .button {
    margin-top: 1.6rem;
  }
  .about {
    padding: 8.7rem 1.6rem 9.2rem;
    position: relative;
  }
  .about .top {
    flex-direction: column;
  }
  .about img {
    width: 35.8rem;
    height: 22.5rem;
  }
  .about h2 {
    position: absolute;
    top: 4.8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.4rem;
    line-height: 3.05rem;
  }
  .about .subtitle {
    margin-top: 1rem;
    text-align: center;
  }
  .about p {
    margin-top: 4rem;
    text-align: center;
  }
}
/*# sourceMappingURL=home.css.map */